# OS
.DS_Store

# VCS
/.git/

# IDE
/.idea/
/.settings/
/.vscode/
*.iml
.classpath
.project

# Build
/.gradle/
/build/

# Unnecessary for Docker Image
/.github/
/src/test/
/.dockerignore
/.editorconfig
/.gitignore
/docker-compose.yml
/Dockerfile
